<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474380365235-gam566cihfbdjiv1cue3teajg4u40h0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474380365235-gam566cihfbdjiv1cue3teajg4u40h0s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>474380365235-egvjs6mukkev0sm1hkqdv23f9d3d2mv0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYlBFo_7xQ7muOnkYA_M7dfBQ2bKcGTM4</string>
	<key>GCM_SENDER_ID</key>
	<string>474380365235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labtracking</string>
	<key>PROJECT_ID</key>
	<string>labtracking-94b0c</string>
	<key>STORAGE_BUCKET</key>
	<string>labtracking-94b0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474380365235:ios:c43e59b4f1003768672fc6</string>
</dict>
</plist>