<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182771504825-je9jugjii4aprkaa6jjmc6e5tlgs9s76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182771504825-je9jugjii4aprkaa6jjmc6e5tlgs9s76</string>
	<key>API_KEY</key>
	<string>AIzaSyD-bjChuF9ZWkS2E2gYv8qH8f4BjfZbGWo</string>
	<key>GCM_SENDER_ID</key>
	<string>182771504825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labtracking.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>labtracking-fcfcb</string>
	<key>STORAGE_BUCKET</key>
	<string>labtracking-fcfcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182771504825:ios:3326ccae41c9edb505ad68</string>
</dict>
</plist>